<form {{action "save" on="submit"}} class="ui form"><% attrs.forEach(function(attr) { %>
  <div class="field">
    <label>
      <%= attr.label %>
      {{input type="text" value=model.<%= attr.name %>}}
    </label>
  </div><% }); %>
  <div class="field">
    <input type="submit" value="Save" class="ui button primary">
  </div>
</form>
